.slide-list{width:740px; height: 100px; background: #000; padding:0;margin: 50px auto}
.slide-list .slide-list-mask{float: left; width:720px; height: 100%; overflow: hidden; position: relative;}
.slide-list .slide-list-views{width:1600px; height: 100px; overflow: hidden;padding:10px 0 0;margin: 0}
.slide-list .slide-list-views .slide-list-views-item{ float: left; width: 110px; height: 80px; font-size: 80px; text-align: center; line-height: 80px; padding:0;margin: 0 5px;list-style: none;}
.slide-list .slide-list-btn-left{ display: block; float: left; width: 10px; background: #fff; margin-top: 40px}
.slide-list .slide-list-btn-right{ display: block;float: right; width: 10px; background: #fff;margin-top: 40px}